{% extends "base.html" %}
{% block content %}
    <h1 class="underline-header" id="about">Ivar Bjerling</h1>
    <h2>About me</h2>

    <div class="information-container">
        <div class="container-column" id="left-column">
            <div class="information-box" id="education-box">
                <div class="title">Education</div>
                <div class="text">
                    <p><strong>2021 - 2024</strong> Technology Program - Information and Media Technology, NTI Gymnasiet Uppsala</p>
                    <p><strong>2024 - 2025</strong> TE4 - Software Design, NTI Gymnasiet Uppsala</p>
                </div>
            </div>

            <div class="information-box">
                <div class="title">Knowledge in Programs</div>
                <div class="text">
                    <div class="list-header underline-header">Multimedia:</div>
                    <ul>
                        <li>Digital audio workstation (Reaper, Ardour)</li><br>
                        <li>Inkscape</li><br>
                        <li>Krita</li><br>
                        <li>GIMP</li>
                    </ul>
                    <div class="list-header underline-header">Document Formatting:</div>
                    <ul>
                        <li>LaTeX</li><br>
                        <li>LibreOffice/MS Office suite/Google suite</li>
                    </ul>
                </div>
            </div>

            <div class="information-box">
                <div class="title">Languages</div>
                <div class="text">
                    <ul>
                        <li>Swedish - Native</li><br>
                        <li>English - Highly proficient</li><br>
                        <li>French - Conversational</li>
                    </ul>
                </div>
            </div>

            <div class="information-box">
                <div class="title">Other Merits</div>
                <div class="text">
                    <ul>
                        <li>Swedish driving license category B</li><br>
                        <li><a href="https://www.credly.com/users/ivar-bjerling.4887500f" target="_blank">IT Specialist - Networking Certificate</a></li><br>
                        <li><a href="https://www.credly.com/users/ivar-bjerling" target="_blank">IT Specialist - Python Certificate</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-column" id="right-column">
            <div class="information-box">
                <div class="title">Software Development Competences</div>
                <div class="text">
                    <div class="list-header underline-header">Languages and Frameworks:</div>
                    <ul>
                        <li>Python</li><br>
                        <li>HTML</li><br>
                        <li>CSS</li><br>
                        <li>JavaScript</li><br>
                        <li>Bootstrap 5</li><br>
                        <li>TypeScript</li><br>
                        <li>C#</li><br>
                        <li>C</li><br>
                        <li>Shell script (POSIX, Bash, Zsh)</li><br>
                        <li>SuperCollider</li><br>
                        <li>Flask</li><br>
                        <li>Node.js</li><br>
                        <li>WPF</li><br>
                        <li>Selenium</li><br>
                        <li>Playwright</li><br>
                        <li>SQLite</li><br>
                        <li>SQL (PostgreSQL, MariaDB, MySQL)</li>
                    </ul>
                    <div class="list-header underline-header">DevOps:</div>
                    <ul>
                        <li>Git (good knowledge of the CLI)</li><br>
                        <li>GitHub</li><br>
                        <li>Linux (Server and Desktop)</li><br>
                        <li>The Terminal and Command Line Tools</li><br>
                        <li>nginx</li>
                    </ul>
                    <div class="list-header underline-header">Editors/IDEs:</div>
                    <ul>
                        <li>Neovim/Vim</li><br>
                        <li>Visual Studio Code</li><br>
                        <li>Visual Studio</li>
                    </ul>
                    <div class="list-header underline-header">Others:</div>
                    <ul>
                        <li>SCRUM</li><br>
                        <li>Markdown</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1 class="underline-header" id="projects">Solo Projects</h1>
    <h2>Some of the notable projects that I created and maintain on my own</h2>

    <div class="projects-container">
        {% for project in soloProjects %}
        <a class="project-box" href="{{ project.gitRepoLink }}" target="_blank">
            <img class="open-link" src="{{ url_for('static', filename='images/components/open-link.png') }}" alt="Open link">
            <div class="title">{{ project.title }}</div>
            <div class="bottom">
                <picture>
                    <source media="(max-width: 300px)" srcset="{{url_for('static', filename='images/projectsImages/solo/180x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 350px)" srcset="{{url_for('static', filename='images/projectsImages/solo/210x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 400px)" srcset="{{url_for('static', filename='images/projectsImages/solo/240x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 500px)" srcset="{{url_for('static', filename='images/projectsImages/solo/300x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 650px)" srcset="{{url_for('static', filename='images/projectsImages/solo/380x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 1050px)" srcset="{{url_for('static', filename='images/projectsImages/solo/462x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 1700px)" srcset="{{url_for('static', filename='images/projectsImages/solo/380x/' + project.imageName + '.jpg')}}" />
                    <img src="{{ url_for('static', filename='images/projectsImages/solo/462x/' + project.imageName + '.jpg') }}" alt="Project image" class="project-img">
                </picture>
                <div class="right">
                    <div class="description">{{ project.description }}</div>

                    <div class="languages-container">
                        <div class="languages-header underline-header">Languages:</div>
                        <div class="languages">{{ project.languages }}</div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <h1 class="underline-header">Team Projects</h1>
    <h2>Projects I have participated in with other people</h2>

    <div class="projects-container">
        {% for project in teamProjects %}
        <a class="project-box" href="{{ project.gitRepoLink }}" target="_blank">
            <img class="open-link" src="{{ url_for('static', filename='images/components/open-link.png') }}" alt="Open link">
            <div class="title">{{ project.title }}</div>
            <div class="bottom">
                <picture>
                    <source media="(max-width: 300px)" srcset="{{url_for('static', filename='images/projectsImages/team/180x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 350px)" srcset="{{url_for('static', filename='images/projectsImages/team/210x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 400px)" srcset="{{url_for('static', filename='images/projectsImages/team/240x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 500px)" srcset="{{url_for('static', filename='images/projectsImages/team/300x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 650px)" srcset="{{url_for('static', filename='images/projectsImages/team/380x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 1050px)" srcset="{{url_for('static', filename='images/projectsImages/team/462x/' + project.imageName + '.jpg')}}" />
                    <source media="(max-width: 1700px)" srcset="{{url_for('static', filename='images/projectsImages/team/380x/' + project.imageName + '.jpg')}}" />
                    <img src="{{ url_for('static', filename='images/projectsImages/team/462x/' + project.imageName + '.jpg') }}" alt="Project image" class="project-img">
                </picture>
                <div class="right">
                    <div class="description">{{ project.description }}</div>

                    <div class="languages-container">
                        <div class="languages-header underline-header">Languages:</div>
                        <div class="languages">{{ project.languages }}</div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
